@import "colors";

footer {
  font-family: 'Handlee';
  height: 8vh;
  background-color: map-get($colors, color5);
  border-bottom: 1px solid black;
  font-size: 1.5em;
  color: white;
  padding-left: 2em;
  padding-top: 0.2em;
  section.footerBox {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    span.color {
      color: map-get($colors, color3);
    }
    div:nth-child(2) {
      height: 100%;
      display: flex;
      align-items: center;
      img {
        width: 2em;
        height: 2em;
        margin-left: 1em;
      }
    }

  }
}

