@import "colors";

section#header {
  font-size: 3em;
  width: 100%;
  height: 8vh;
  background-color: map-get($colors, color5);
  color: map-get($colors, color4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  span.color {
    color: #41D4CF;
  }

}